<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="INVALID_EMAIL_ADDRESS" value="Invalid email address."/>
    <add key="DUP_EMAIL_ADDRESS" value="An account using this email address has already been registered. Please enter a valid password or request a new one."/>
    <add key="INVALID_POSTAL_CODE" value="The Zip/Postal code you've entered is invalid. It must follow this format: 00000"/>
    <add key="INVALID_PHONE_NUM" value="You must register at least one phone number."/>
    <add key="INVALID_LAST_NAME" value="lastname is required."/>
    <add key="INVALID_FIRST_NAME" value="firstname is required."/>
    <add key="INVALID_PASSWRD" value="passwd is required."/>
    <add key="INVALID_ADDRESS" value="address1 is required."/>
    <add key="INVALID_CITY" value="city is required."/>
    <add key ="INVALID_STATE" value="This country requires you to choose a State."/>
  </appSettings>
</configuration>